
body {
    background-image: url("http://www.tokkoro.com/picsup/419330-marble-widescreen-desktop-wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#pageheader {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(238, 243, 245);
    padding: 15px;
    width: 100%;
    max-width: 300px;
    height: 50px;
    float: left;
    border: 1px solid rgb(226, 243, 248);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    clear: both;

}

#topbox {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 243, 245);
    width: 100%;
    padding: 10px;
    max-width: 400px;
    float: left;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    margin-left: 50px;
    clear: both;


}

#number-to-guess {
    font-size: 30px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    float: left;
    padding: 10px;
    border: 3px solid black;
    height: 75px;
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    clear: both;

}

#scorebox {
    font-size: 30px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    float: left;
    padding: 10px;
    border: 3px solid black;
    height: 75px;
    width: 200px;
    margin-left: 50px;
    clear: both;

}

#crystals {
    width: 100%;
    max-width: 400px;
    float: left;
    padding: 10px;
    border: 3px solid black;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    clear: both;

}

.whitecrystal {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    
}

.purplecrystal {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    
}

.bluecrystal {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    
}

.redcrystal {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    
}

#score {
    font-size: 25px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    float: left;
    padding: 10px;
    border: 3px solid black;
    height: 75px;
    width: 200px;
    margin-left: 50px;
    clear: both;

}